
@import url(_header.scss);
@import url(_container.scss);



@mixin make-bold($bool){
    @if $bool==true{
        text-transform:uppercase ;
    }@else{
        
    }
}

body{
    font-family: "Trebuchet MS","Lucida Sans", Arial, sans-serif;
    background-color: #a05151;
    @import url(_repete.scss);
}