@mixin text-effect($val) {
    @if $val == danger {
        color: #ff0000;
    } @else if $val == warning {
        color: #fff000;
    } @else {
        color: #000000;
    }
}

@mixin make-bold($bool) {
    @if $bool == true {
        font-weight: bolder;
        text-transform: uppercase;
    } @else {
        font-weight: 100;
    }
}

@mixin gerencia-estilo($color) {
    color: $color;
    font-size: 1.2em;
}

@import "header";
@import "container";

body {
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
    background-color: #c1c1c1c1;
}
