@mixin text-effect($color) {
    color: $color;
}

@mixin gerencia-estilo($color) {
    color: $color;
    font-size: 1.2em;
}

@import "header";
@import "container";

body {
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
    background-color: #c1c1c1c1;
}
